<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
    body { 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   </style>
   
    <title>Document</title>
</head>
<body>
    <h1>URL Shortner</h1>

   <div>
    <!-- sending post request on /url -->
    <form method="POST" action="/url">        
        <label> Enter Your Original Url</label>
        <!-- this name = url will pass in our backend and this name is const body = re.body  -->
        <input type="text" name="url" placeholder="https:example.com/">      
        <button type="submit">Generate</button>
    </form>
   </div>

   <% if(locals.id) {%>
    <p>URL generated : http://localhost:8001/url/<%= id %></p>

   <%}%>

   
   <% if (locals.urls) { %>
    <table>
        <thead>
            <th>S.no</th>
            <th>Short Id</th>
            <th>Redirect URL </th>
            <th>clicks</th>

        </thead>
        <tbody>
            <% urls.forEach((url,index) => { %>
                <tr>
                 <td><%= index + 1  %></td>
                 <td><%= url.shortID  %></td>
                 <td><%= url.redirectURL  %></td>
                 <td><%= url.visitedHistory.length  %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
   <% } %>
   
</body>
</html>